// 边框颜色
$m-border-color: #dadbde;
// 基础背景色
$m-bg-color: #f3f4f6;
// 阴影颜色
$m-shadow-color: #22222230;
// 主颜色
$m-main-color: #606266;
// 突出颜色
$m-tips-color: #303133;
// 禁用颜色
$m-disabled-color: #909399;
// 占位颜色
$m-light-color: #c0c4cc;

$m-white-color: #ffffff;

// 主题色
$m-primary: #3e79f3;
$m-primary-dark: #398ade;
$m-primary-disabled: #9acafc;
$m-primary-light: #ecf5ff;

// 辅助色
$m-success: #5ac725;
$m-success-dark: #53c21d;
$m-success-disabled: #a9e08f;
$m-success-light: #f5fff0;

$m-warning: #f9ae3d;
$m-warning-dark: #f1a532;
$m-warning-disabled: #f9d39b;
$m-warning-light: #fdf6ec;

$m-error: #f56c6c;
$m-error-dark: #e45656;
$m-error-disabled: #f7b2b2;
$m-error-light: #fef0f0;

$m-info: #909399;
$m-info-dark: #767a82;
$m-info-disabled: #c4c6c9;
$m-info-light: #f4f4f5;

// 重新定义主题颜色
$zn-theme-color: #32a7ff;

// 主色（紫色）
$zn-main-purple-color: #3e79f3;

//主色（浅蓝色）
$zn-main-blue-color: #5dccfd;

// 点缀色
$zn-main-act-color: #fba903;

//字体颜色
$zn-font-color-leve1: #19233c;
$zn-font-color-leve2: #5e687f;
$zn-font-color-leve3: #7d869b;
$zn-font-color-leve4: #bcc3d4;
$zn-font-color-leve5: #dbdfeb;

// 渐变色
// $zn-inear-gradient: linear-gradient(to bottom, #3e79f3, #3e7af3e4, #5dccfd, #f4f7e9, rgba(165, 254, 204, 0));
$zn-inear-gradient: linear-gradient(to top, #fff1eb00 0%, #fff1eb 20%, #ace0f9 100%);
// 圆角
$zn-border-radius-8: 16rpx;
// 头部高度
$zn-header-height: 60rpx;
// table 表头颜色
$zn-table-header-bg: rgba(128, 128, 128, 0.277);
