@font-face {
	font-family: "iconfont"; 
	src: url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
}

.icon-cheng:before {
  content: "\e75a";
}

.icon-danwei:before {
  content: "\e649";
}

.icon-weixinzhifu:before {
  content: "\e650";
}

.icon-zhifupingtai-zhifubao:before {
  content: "\e615";
}

.icon-qitazhifu:before {
  content: "\e664";
}

.icon-xianjin:before {
  content: "\e6b6";
}

.icon-tag:before {
  content: "\e630";
}

.icon-guanbi1:before {
  content: "\e67b";
}


.icon-guanbi:before {
  content: "\e672";
}

.icon-zhichu:before {
  content: "\e670";
}

.icon-coupons:before {
  content: "\e6b3";
}

.icon-qitashourudan:before {
  content: "\e724";
}

.icon-yingshouguanli-tongjibaobiao-yingshouduizhang:before {
  content: "\e614";
}


.icon-rili1:before {
  content: "\e797";
}

.icon-ehl_sanlunche:before {
  content: "\e627";
}

.icon-baobiao:before {
  content: "\e74b";
}

.icon-dianji:before {
  content: "\e610";
}

.icon-banbenshengji:before {
  content: "\e633";
}

.icon-zhiban:before {
  content: "\e81f";
}

.icon-zhuanfa:before {
  content: "\e6c9";
}

.icon-kaidan:before {
  content: "\e608";
}

.icon-dayin:before {
  content: "\e65e";
}

.icon-zhifuchenggong:before {
  content: "\e607";
}

.icon-daohanglan-xinhao-sange:before {
  content: "\e60c";
}

.icon-daohanglan-xinhao-yige:before {
  content: "\e60d";
}

.icon-daohanglan-xinhao-liangge:before {
  content: "\e60f";
}

.icon-xiugai:before {
  content: "\e606";
}

.icon-zanwudingdan:before {
  content: "\e68e";
}

.icon-fuzhushuxian:before {
  content: "\e6f4";
}

.icon-youjiantou:before {
  content: "\e604";
}

.icon-icon-cross-squre:before {
  content: "\e602";
}

.icon-plus-square:before {
  content: "\e707";
}

.icon-shanchu:before {
  content: "\e6b2";
}

.icon-fanhui:before {
  content: "\e677";
}

.icon-kongliebiao:before {
  content: "\e641";
}

.icon-tuige:before {
  content: "\e61b";
}

.icon-basket:before {
  content: "\ebe9";
}

.icon-31paixingbang:before {
  content: "\e601";
}

.icon-paixingbang:before {
  content: "\e7bd";
}

.icon-xiangmujine:before {
  content: "\e62f";
}

.icon-jine:before {
  content: "\e666";
}

.icon-tubiao_guke:before {
  content: "\e636";
}

.icon-linshi:before {
  content: "\e603";
}

.icon-dianhua:before {
  content: "\e61a";
}

.icon-kehu:before {
  content: "\e623";
}

.icon-chepai:before {
  content: "\e64a";
}

.icon-dizhi:before {
  content: "\e622";
}

.icon-shouyin:before {
  content: "\e605";
}

.icon-shezhi:before {
  content: "\e851";
}

.icon-shouyintongji:before {
  content: "\e680";
}

.icon-huozhuguanli:before {
  content: "\e60b";
}

.icon-transport:before {
  content: "\e9cc";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-jilu1:before {
  content: "\e60a";
}

.icon-jilu:before {
  content: "\e810";
}

.icon-fujiaxiang-fujian:before {
  content: "\e70c";
}

.icon-zhanghuyue:before {
  content: "\e60e";
}

.icon-fenleishezhi:before {
  content: "\e6e7";
}

.icon-jibenshezhi_1:before {
  content: "\e7e6";
}

.icon-industry06:before {
  content: "\e600";
}

.icon-lanya:before {
  content: "\e65f";
}
